* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 16px;
}

.headBar {
    background-color: #8EB486;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* .headBarTitle {

} */

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}